.ListLink {
    font-size: 19px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 1px;
    color: #c03823;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
    border: solid 1px #c03823;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.ListLink:hover {
    background-color: #c03823;
    color: white;
}